<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <form @submit.prevent="git">
            姓名： <input type="text" name="" id="" v-model="userinfo.name"><br><br>
            密码： <input type="number" name="" id="" v-model.number="userinfo.passwd"><br><br>
            性别：<input type="radio" name="sex" value="nan" v-model="userinfo.sex">男
            <input type="radio" name="sex" value="nv" v-model="userinfo.sex">女<br><br>
            爱好：<input type="checkbox" name="hobby" id="" value="吃饭" v-model="userinfo.hobby">吃饭
            <input type="checkbox" name="hobby" id="" value="睡觉" v-model="userinfo.hobby">睡觉
            <input type="checkbox" name="hobby" id="" value="学习" v-model="userinfo.hobby">学习<br><br>
            所属地区
            <select name="area" id="" v-model="userinfo.city">
                <option value="">请选择地区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="tianjin">天津</option>
            </select><br><br>
            简介：<textarea name="" id="" cols="30" rows="10" v-model="userinfo.text"></textarea>
            <input type="checkbox" name="" id="" v-model="userinfo.agree">同意 <br>
            <br>
            <button >提交</button>
        </form>
    </div>


    <script>
        new Vue({
            el: '#root',
            data: {
                userinfo: {
                    name: '',
                    passwd: '',
                    sex: '',
                    hobby: [],
                    city: '',
                    text: '',
                    agree: ''
                }
            },
            methods: {
                git() {
                    console.log(this.userinfo)
                }
            },
        })
    </script>
</body>

</html>